* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#task-list {
    width: 100%;
    height: 750px;
    overflow-y: auto;
    padding: 50px;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 25px;
}

.task {
    width: fit-content;
    height: fit-content;
}

.task div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}