<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link th:href="@{/css/app/main.css}" rel="stylesheet">
</head>
<body>
    <div class="user-data">
        <div class="username-container">
            <p>username: </p>
            <input type="text" name="username" id="username" class="username editable" th:value="${user.username}">
        </div>
        <div class="email-container">
            <p>email: </p>
            <input type="text" name="email" id="email" class="email editable" th:value="${user.email}">
        </div>
    </div>

    <div id="task-list">
        <div id="task-container">

        </div>
    </div>

    <button id="add-task">add task</button>
    <script th:src="@{/js/app/task-api.js}"></script>
</body>
</html>